.recommend {
    .recommend-img {
        width: 100%;
    }

    .swiper-slide {
        &:hover {
            .meta {
                visibility: visible;
            }
        }

        .meta {
            cursor: pointer;
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.9);
            position: relative;
            top: -40px;
            left: 0;
            height: 40px;
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 1em;
                display: inline-flex;
                align-items: center;
            }
        }
    }
}
