.main {
    margin-top: 56px;
    margin-bottom: 76px;

    .backdrop {
        height: calc(100vh - 56px - 77px);
    }

    .overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .description {

    }
}
