.footer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343a40 !important;
  p {
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 0px;
  }

  u {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 4px -2px 6px;
  }

}


